.finish-event-button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    font-family: var(--font-family);
    background-color: var(--color-primary);
}

.finish-event-button:hover {
    opacity: 0.9;
}

.finish-event-button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.finish-event-button.finished {
    background-color: #666;
    cursor: not-allowed;
    opacity: 0.7;
}
