.football-pitch-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  overflow: visible;
  user-select: none;
}

.football-pitch {
  width: 100%;
  height: auto;
  display: block;
  mask-image: linear-gradient(
      to right,
      transparent,
      black 1%,
      black 99%,
      transparent
    ),
    linear-gradient(
      to bottom,
      transparent,
      black 1%,
      black 99%,
      transparent
    );
  mask-composite: intersect;
  pointer-events: none;
}

.players-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.team-pitch {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  pointer-events: none;
}

.first-team {
  left: 0;
}

.second-team {
  right: 0;
}

.player {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: grab;
  pointer-events: all !important;
  background-color: var(--color-secondary);
  border: 2px solid var(--color-white);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  touch-action: none;
  will-change: transform;
}

.player:active {
  cursor: grabbing;
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0.8;
}

.player-name {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: var(--color-white);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  pointer-events: none;
  font-family: var(--font-family);
}

.player:hover {
  transform: translate(-50%, -50%) scale(1.2);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

.bench-player {
  position: absolute;
  font-family: var(--font-family);
}

.bench-player .player-name {
  bottom: -25px;
  top: auto;
}

.player:hover .player-name {
  display: block;
}

.position-dropzone {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 2px dashed var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all !important;
  transition: all 0.2s ease;
  will-change: transform;
}

.position-dropzone:hover,
.position-dropzone.drag-over {
  background-color: var(--color-secondary-background);
  transform: translate(-50%, -50%) scale(1.1);
}

.position-label {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  pointer-events: none;
}

@media (min-width: 1024px) {
  .player-name {
    display: block;
  }

  .player {
    width: 30px;
    height: 30px;
  }
}

/* Asegurar que los nombres no se salgan de la cancha */
.first-team .player-name {
  transform: translateX(-25%);
}

.second-team .player-name {
  transform: translateX(-75%);
}
